.two-col-skew {
  width: 100%;
  height: 36rem;
  @include screen(tab-port) {
    height: 26rem;
  }
  &:first-of-type {
    @include screen(tab-port) {
      z-index: 10;
    }
  }

  & + .two-col-skew {
    margin-top: $margin-hair;
    margin-bottom: $margin-l;
  }

  &--anti {
    @include center;
    width: 80%;
    @include screen(tab-port) {
      @include anti-skew-center;
      width: 50%;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    @include screen(tab-port) {
      display: flex;
      width: 110%;
      transform: translateX(-5%);
    }

    & > div:first-of-type {
      margin-right: 2px;
    }
  }

  &__skewed {
    height: 26rem;
    width: 100%;
    text-align: center;
    @include screen(tab-port) {
      height: 100%;
      // width: calc(50% - 1px);
      transform: skewX($skew);
      text-align: center;
    }

    &--cdh {
      background: $col-cdh;
      background-size: 150%;
      color: $col-white;

      &:last-of-type {
        height: 10rem;
        @include screen(tab-port) {
          height: 100%;
        }
      }

      &--bumper {
        display: none;
        @include screen(tab-port) {
          display: block;
          width: calc(7.5% + 10rem);
          background-size: cover;
          background-position: left;
        }

        & + .two-col-skew__skewed--image {
          margin-right: $margin-hair;
        }
      }

      &__wrapper-right {
        @include screen(tab-port) {
          left: 40%;
        }
      }

      &__header {
        margin-top: 0;
        margin-bottom: $margin-s;
        font-size: 2.6rem;
        text-align: center;
        @include screen(tab-port) {
          font-size: 4rem;
          margin-bottom: 0;
          text-align: left;
        }
      }

      &__subheader {
        text-align: center;
        font-family: $font-nav;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 1rem;
        @include screen(tab-port) {
          font-size: 2rem;
          text-align: left;
        }

        a {
          &:hover {
            color: $col-white;
          }
        }
      }
    }

    &--image {
      overflow: hidden;
      @include screen(tab-port) {
        width: 50rem;
      }

      img {
        background: url("../assets/img/orange-bg-flipped.jpg") center center
          no-repeat;
        background-size: cover;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 110%;

        @include screen(tab-port) {
          height: auto;
          transform: translate3d(-50%, -50%, 0) skew($anti-skew);
        }

        &.align-top {
          top: 0;
          @include screen(tab-port) {
            transform: translate(-50%, -12%) skew($anti-skew);
          }
          @include screen(tab-land) {
            transform: translate(-50%, -17.25%) skew($anti-skew);
          }
        }
        &.candidate {
          min-height: 100%;
        }
      }
    }

    &:last-of-type {
      float: right;
    }
  }
}
