.btn {
  background: url(../assets/img/arrow.svg) center center no-repeat;
  background-size: contain;
  border: 1px solid $col-white;
  border-radius: 1000px;
  cursor: pointer;
  // display: inline-block;
  height: 3.8rem;
  transition: transform 0.3s;
  width: 3.8rem;

  &:hover {
    transform: scale(1.1);
  }

  &--submit {
    position: absolute;

    &--small {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &--carousel {
    height: 2rem;
    width: 2rem;
    @include screen(tab-port) {
      height: 3.8rem;
      width: 3.8rem;
    }
  }

  &--discover {
    float: none;
    display: inline-block;
    @include screen(tab-port) {
      float: right;
    }
  }

  &--input-reset {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 5.2rem;

    &:before,
    &:after {
      @include center;
      content: "";
      display: block;
      width: 2rem;
      height: 2px;
      background-color: $col-med-grey;
      position: absolute;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background-color 0.2s;
    }
    &:after {
      content: "";
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &:before,
      &:after {
        content: "";
        background-color: $col-secondary;
      }
    }

    &:active {
      &:before,
      &:after {
        content: "";
        background-color: $col-primary;
      }
    }

    &--small {
      top: -0.7rem;
      right: 4.4rem;

      &:before,
      &:after {
        content: "";
        width: 1.5rem;
      }
    }
  }

  &--twitter {
    display: flex;
    margin-left: auto;
    margin-top: $margin-m;
    background-color: $col-grey;
    transform: rotate(-0.25turn);

    &:hover {
      transform: rotate(-0.25turn) scale(1.1);
    }
  }

  &--more-news {
    color: $col-grey;
    font-family: $font-nav;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    width: 100%;

    &__img {
      height: 3rem;
      margin-left: $margin-xs;
      position: relative;
      top: 0.8rem;
      width: 3rem;
    }
  }
}
