.footer {
  background-color: $col-grey;
  color: $col-light-grey;
  font-style: italic;
  margin-top: $margin-l;
  padding-bottom: $padding-l;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__cols {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    @include screen(tab-port) {
      text-align: left;
      flex-direction: row;
    }

    &__col {
      @include screen(tab-port) {
        float: left;
        width: 40rem;
        &:not(:last-of-type) {
          margin-right: 5%;
        }
        &:nth-of-type(odd) {
          width: 30%;
        }
        &:nth-of-type(even) {
          margin: 0 5rem;
        }
      }

      a {
        display: inline-block;
        margin-bottom: $margin-s;
        text-decoration: none;
      }
    }
  }

  &__copyright {
    background-color: $col-black;
    padding: $padding-xs $padding-m;
    font-size: 1.4rem;
    margin-bottom: 7rem;
    @include screen(tab-port) {
      text-align: left;
      margin-bottom: 5rem;
      height: 3rem;
    }
  }

  &__header {
    font-size: 1.6rem;
    margin-bottom: $margin-s;
    @include screen(tab-port) {
      margin-bottom: $margin-s;
    }
  }

  &__text {
    margin-bottom: $margin-s;
    text-rendering: optimizeLegibility;
    font-weight: 400;
  }
}
