.input {
  display: inline-block;
  height: 3.8rem;
  margin-right: 2rem;
  text-align: left;
  width: 100%;

  .awesomplete {
    width: calc(100% - 5.2rem);
    margin-right: 1rem;
  }

  &--candidate-search {
    margin: 0 auto;
  }

  &__text {
    border: none;
    border-radius: $brad-full;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 5.2rem);
    margin-right: 1rem;
    .awesomplete > & {
      margin-right: 0;
      width: 100%;
    }
    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
  }
}
