.to-top {
  bottom: 8rem;
  height: 6rem;
  position: fixed;
  right: 0;
  width: 8rem;
  padding: 1rem;
  z-index: 1000;
  @include screen(tab-port) {
    bottom: 10rem;
  }

  &__link:link,
  &__link:active,
  &__link:visited {
    background: url(../assets/img/arrow.svg) center center no-repeat
      $col-primary;
    background-size: 100%;
    border-radius: 1000px;
    box-shadow: 0 -0.5rem 1rem rgba($col-black, 0.7);
    cursor: pointer;
    display: block;
    height: 4rem;
    transform: rotate(200grad) translateX(-8rem);
    transition: transform 0.2s;
    width: 4rem;
  }

  &__link--visible:link,
  &__link--visible:active,
  &__link--visible:visited {
    transform: rotate(200grad) translateX(0);
  }
}
