.carousel {
  background-color: $col-secondary;
  color: $col-white;
  z-index: 1;
  margin-bottom: $margin-l;

  &--faders {
    &:before,
    &:after {
      position: absolute;
      top: 0;
      height: 100%;
      width: 5rem;
      z-index: 1;
      @include screen(tab-port) {
        width: 15rem;
      }
    }

    &:before {
      left: 0;
      background: linear-gradient(
        to right,
        $col-secondary 30%,
        rgba($col-secondary, 0)
      );
    }

    &:after {
      right: 0;
      background: linear-gradient(
        to left,
        $col-secondary 30%,
        rgba($col-secondary, 0)
      );
    }
  }

  &--pagination {
    background: none;
    position: relative;

    &__buttons {
      @include center;
      top: 100%;
      transform: translate3d(-50%, -150%, 0);
    }
    &__button {
      background: none;
      border: 1px solid $col-white;
      border-radius: $brad-full;
      display: inline-block;
      height: 1.4rem;
      margin: 0 0.2rem;
      width: 1.4rem;

      &--fill {
        background-color: $col-white;
      }
    }
    &__image {
    }
    &__header {
      font-style: normal;
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      text-shadow: $shadow-regular;
      transform: translateY(-25%);
    }
  }

  &__prev,
  &__next {
    background-color: $col-grey;
    position: absolute;
    top: 50%;
    z-index: 2;
    @include screen(tab-port) {
      position: absolute;
      top: 50%;
      z-index: 2;
    }

    .video-list & {
      background-color: $col-primary;
    }
  }

  &__prev {
    left: $margin-m;
    transform: translateY(-50%) rotate(100grad);
    &:hover {
      transform: translateY(-50%) rotate(100grad) scale(1.1);
    }
    &:active {
      transform: translateY(-50%) rotate(100grad);
    }
  }

  &__next {
    right: $margin-m;
    transform: translateY(-50%) rotate(300grad);
    &:hover {
      transform: translateY(-50%) rotate(300grad) scale(1.1);
    }
    &:active {
      transform: translateY(-50%) rotate(300grad);
    }
  }

  &__slide {
    transform: skewX($skew);
    position: relative;

    &:before {
      border-right: 2px solid $col-white;
      position: absolute;
      top: 0;
      right: 0;
      height: 21rem;
    }

    &--no-skew {
      transform: none;
    }

    &__content {
      display: block;
      padding: 2rem 5rem;
      transform: skewX($anti-skew);
      @include screen(tab-port) {
        padding: 2rem;
      }
    }
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;

    &--name {
      font-size: 2rem;
      font-weight: 300;
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &--youtube {
    background-color: $col-white;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  &--videos {
    height: 25rem;
    margin-bottom: 2rem;
    background-color: $col-white;
  }

  &--themes {
    margin-top: $margin-hair;

    .carousel__slide {
      height: 8rem;
      @include screen(tab-port) {
        height: 10rem;
      }

      &__content {
        padding: 0 4rem;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    .carousel__header {
      text-align: center;
      width: 100%;
      margin: 0;
      @include screen(tab-port) {
        text-align: left;
      }
    }
  }
}
