.carousel {
  background-color: $col-grey;
  color: $col-white;
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 5rem;
    z-index: 1;
    @include screen(tab-port) {
      width: 15rem;
    }
  }

  &:before {
    left: 0;
    background: linear-gradient(to right, $col-grey 30%, rgba($col-grey, 0));
  }

  &:after {
    right: 0;
    background: linear-gradient(to left, $col-grey 30%, rgba($col-grey, 0));
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    z-index: 2;
    @include screen(tab-port) {
      position: absolute;
      top: 50%;
      z-index: 2;
    }

    .video-list & {
      background-color: $col-primary;
    }
  }

  &__prev {
    left: $margin-m;
    transform: translateY(-50%) rotate(100grad);
    &:hover {
      transform: translateY(-50%) rotate(100grad) scale(1.1);
    }
    &:active {
      transform: translateY(-50%) rotate(100grad);
    }
  }

  &__next {
    right: $margin-m;
    transform: translateY(-50%) rotate(300grad);
    &:hover {
      transform: translateY(-50%) rotate(300grad) scale(1.1);
    }
    &:active {
      transform: translateY(-50%) rotate(300grad);
    }
  }

  &__slide {
    transform: skewX($skew);

    &:before {
      border-right: 2px solid $col-white;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 21rem;
    }

    &__content {
      display: block;
      padding: 2rem 5rem;
      transform: skewX($anti-skew);
      @include screen(tab-port) {
        padding: 2rem;
      }
    }
  }

  &__header {
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;

    &--name {
      font-size: 2rem;
      font-weight: 300;
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &--projects {
    margin-bottom: 2px;
  }

  &--youtube {
    background-color: $col-white;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  &--videos {
    height: 25rem;
    margin-bottom: 2rem;
    background-color: $col-white;
  }

  &--themes {
    margin-top: $margin-hair;

    .carousel__slide {
      height: 8rem;
      @include screen(tab-port) {
        height: 10rem;
      }

      &__content {
        padding: 0 4rem;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    .carousel__header {
      text-align: center;
      width: 100%;
      margin: 0;
      @include screen(tab-port) {
        text-align: left;
      }
    }
  }
}
