.engagements {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &:before,
  &:after {
    display: none;
  }

  &__item {
    align-items: flex-end;
    background-color: $col-light-grey;
    border: 1px solid $col-med-grey;
    border-radius: $brad-xs;
    display: flex;
    margin-bottom: 5rem;
    padding: 4rem $margin-m $margin-m;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    @include screen(tab-port) {
      margin-left: calc(10% / 6);
      margin-right: calc(10% / 6);
      width: 30%;
    }

    @include screen(tab-land) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 24rem;
    }

    &:before {
      background-color: $col-secondary;
      background-image: url("../assets/img/arrow.svg");
      border-radius: $brad-full;
      height: 4rem;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      transition: transform 0.2s, box-shadow 0.2s;
      width: 4rem;
    }

    &:hover {
      transform: scale(1.025) translateY(-0.5rem);
      box-shadow: 0 0.5rem 1rem rgba($col-black, 0.7);

      &:before {
        box-shadow: 0 0.5rem 1rem rgba($col-black, 0.7);
        transform: translate(-50%, calc(-50% - 1rem));
      }
    }
  }

  &__header {
    font-size: 2.4rem;
    transition: color 0.2s;
  }

  &__btn {
    background: none;
    border: none;
    color: $col-white;
    font-family: $font-nav;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include screen(tab-port){
    background-color: $col-grey;
    
  }
  
  &__skew {
    background-color: $col-grey;
    transform: skew($skew);
    width: calc(100% / 4.3);
    transition: background-color .2s;
    margin: 0 .1rem 1rem;
    
    @include screen(tab-port){
      border-left: 2px solid $col-white;
      background-color: none;
      margin: 0;
      width: calc(100% / 8.9);
    }
    
    &:last-of-type {
      border-right: 2px solid $col-white;
    }

    @each $color in $colors {
      $i: index($colors, $color);
      &:nth-of-type(#{$i}) .filter__button:before {
        background-color: $color;
        bottom: -.5rem;
        display: block;
        height: 3px;
        position: absolute;
        transform: skew($skew);
        width: 100%;
      }
    }

    &:hover {
      @include screen(tab-port){
        background-color: $col-med-grey;
      }
    }
  }

  &__button {
    background: none;
    border: none;
    color: $col-white;
    cursor: pointer;
    font-family: $font-nav;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    padding: $padding-s 0;
    transition: background-color .2s, box-shadow .2s, transform .2s;
    width: 100%;
    
    @include screen(tab-port){
      font-weight: 600;
      font-size: 1.4rem;
    }
    
    @include screen(tab-land){
      font-weight: 600;
      font-size: 1.6rem;
    }

    &:hover {
      text-shadow: $shadow-near;
    }

    @each $color in $colors {
      $i: index($colors, $color);
      .filter__skew:nth-of-type(#{$i}) &--active {
        background-color: $color
      }
    }
  }
}
