.actua-filter {
  padding: 0.5rem 1rem;
  background-color: $col-grey;
  font-size: 1.4rem;
  color: $col-white;
  font-weight: 600;
  width: 100%;
  margin: 2px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @include screen(tab-port) {
    columns: 3;
    margin: 2px 0 0 5rem;
    transform: skew($skew) translateX(-8px);
    width: calc(75% - 7.7rem);
  }

  &__btn {
    cursor: pointer;
    display: none;
    padding: $padding-s 0;
    text-decoration: none;
    transition: color 0.2s;
    width: 30%;
    @include screen(tab-port) {
      padding: 0;
    }

    &:hover {
      color: $col-secondary;
    }

    &--present {
      display: block;
    }
  }

  &__radio {
    display: none;

    &:checked + label {
      color: $col-primary;
    }
  }
}
