.engagements-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include screen(tab-port) {
    background-color: $col-grey;
  }

  &__skew {
    background-color: $col-grey;
    transform: skew($skew);
    width: calc(100% / 4.3);
    transition: background-color 0.2s;
    margin: 0 0.1rem 1rem;

    @include screen(tab-port) {
      border-left: 2px solid $col-white;
      background-color: none;
      margin: 0;
      width: calc(100% / 8.9);
    }

    &:last-of-type {
      border-right: 2px solid $col-white;
    }

    @each $color in $colors {
      $i: index($colors, $color);
      &:nth-of-type(#{$i}) .engagements-filter__button:before {
        content: "";
        background-color: $color;
        bottom: -0.5rem;
        display: block;
        height: 3px;
        position: absolute;
        transform: skew($skew);
        width: 100%;
      }
    }

    &:hover {
      @include screen(tab-port) {
        background-color: $col-med-grey;
      }
    }
  }

  &__button {
    background: none;
    border: none;
    color: $col-white;
    cursor: pointer;
    display: block;
    font-family: $font-nav;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    padding: $padding-s 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
    width: 100%;

    @include screen(tab-port) {
      font-weight: 600;
      font-size: 1.4rem;
    }

    @include screen(tab-land) {
      font-weight: 600;
      font-size: 1.6rem;
    }

    &:hover {
      text-shadow: $shadow-near;
      color: $col-white;
    }
  }

  &__radio {
    display: none;
  }
}

@each $color in $colors {
  $i: index($colors, $color);
  .engagements-filter__skew:nth-of-type(#{$i})
    .engagements-filter__radio:checked
    + .engagements-filter__button {
    background-color: $color;
  }
}
