.newsfeed {
  display: flex;
  justify-content: space-evenly;
  margin: $margin-m 0;
  flex-wrap: wrap;
  width: 100%;
  @include screen(tab-port) {
    margin: 0;
    justify-content: flex-start;
  }

  &:before {
    display: none;
  }

  // newsfeed at the bottom of other pages
  &--footer {
    background-color: transparent;
    border-top: $dotted;
    display: block;
    padding-top: $padding-xl;

    &__prev,
    &__next {
      top: calc((100% + 2.5rem) / 2);
    }

    &__prev {
      left: 0.75rem;
      @include screen(tab-port) {
        left: 3rem;
      }
    }

    &__next {
      right: 0.75rem;
      @include screen(tab-port) {
        right: 3rem;
      }
    }
  }

  &--actua {
    width: 74rem;
  }

  &__item {
    display: block;
    height: 15rem;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s, transform 0.2s;
    width: 95%;
    @include screen(tab-port) {
      margin: 0 1rem 2rem 0;
      height: 20rem;
      width: 20rem;
    }

    &--large {
      height: 35rem;
      margin-right: 2rem;
      width: 35rem;
    }

    &:hover {
      box-shadow: $shadow-regular;
      transform: scale(1.1);
    }

    &:before {
      content: "";
      background-color: $col-grey;
      color: $col-white;
      font-size: 1.2rem;
      padding: $padding-hair $padding-xs;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    // types list
    $types: medias, communiqué, agenda, vidéo;

    @each $type in $types {
      &--#{$type}:before {
        content: "#{$type}";
        text-transform: capitalize;
      }
    }

    &:after {
      content: "";
      color: $col-white;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 600;
      text-transform: capitalize;
      padding: $padding-hair $padding-s;
      position: absolute;
      left: 1rem;
      bottom: 0;
      z-index: 1;
    }

    // categories list
    $categories: "enseignement" #eb5e09, "famille" #eb5e09, "santé" #ff0000,
      "recherche" #ff0000, "énergie" #add647, "écologie" #add647,
      "emploi" #f7a600, "économie" #f7a600, "mobilité" #413f8a,
      "transport" #413f8a, "logement" #ad4447, "aménagement" #ad4447,
      "sécurité" #90908e, "justice" #90908e, "culture" #1cc6f2, "sport" #1cc6f2;

    @each $category in $categories {
      &--#{nth($category, 1)}:after {
        content: "";
        @include category(#{nth($category, 1)}, #{nth($category, 2)});
      }
    }

    // Mods to carousel only for .newsfeed--footer
    .carousel & {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    @include center;
    height: 101%;
    z-index: -1;
  }

  &__date {
    display: inline-block;
    font-size: 65%;
    font-style: italic;
    margin-bottom: $margin-xs;
    width: 100%;
  }

  &__header {
    bottom: 3rem;
    color: $col-white;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.2;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    text-align: left;
    text-shadow: $shadow-near;
    transition: transform 0.2s;
    @include screen(tab-port) {
      font-size: 1.8rem;
    }

    .newsfeed__item:hover & {
      transform: translateY(-1rem);
    }
  }
}
