.social {
  border-radius: $brad-xs;
  color: $col-white;
  margin-top: 0;
  padding: $padding-m;

  &--facebook {
    background-color: $col-facebook;
  }

  &--twitter {
    background-color: $col-med-grey;
  }

  &__header {
    margin-bottom: $margin-m;
    font-size: 2rem;
    padding-left: 4rem;
    @include screen(tab-port) {
      font-size: 3rem;
    }

    &:before {
      content: "";
      display: block;
      height: 3.5rem;
      left: 0;
      position: absolute;
      top: -0.5rem;
      width: 3.5rem;
    }

    &--facebook:before {
      background: url(../assets/img/icon-sprite-facebook.svg);
    }
    &--twitter:before {
      background: url(../assets/img/icon-sprite-twitter.svg);
    }
  }
}
