.subscribe {
  background-color: lighten($col-grey, 10%);
  display: flex;
  flex-wrap: wrap;
  margin: $margin-m 0 $margin-l;
  padding: $padding-m;
  border-radius: $brad-xs;
  box-shadow: $shadow-regular;
  @include screen(tab-port) {
    margin: 0;
  }

  &__header {
    margin-bottom: $margin-s;
    width: 100%;
  }

  &__checkboxes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    @include screen(tab-port) {
      justify-content: flex-start;
    }
  }

  &__checkbox {
    margin-bottom: $margin-m;
    &:last-of-type {
      margin-left: $margin-m;
    }

    &__label {
      font-style: normal;
      font-weight: 600;
      font-size: 1.8rem;

      &:after {
        content: "";
        border: 2px solid $col-white;
        display: inline-block;
        height: 1.2rem;
        margin-left: 0.6rem;
        width: 1.2rem;
      }
    }
    &__checkbox {
      display: none;

      &:checked {
        & + .subscribe__checkbox__label:before {
          content: "";
          background-color: $col-white;
          display: inline-block;
          height: 0.6rem;
          position: absolute;
          right: 3px;
          top: 9px;
          width: 0.6rem;
        }
      }
    }
  }

  &__text-input {
    width: 100%;
  }
}
