%text-styles {
  color: $col-grey;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
}

.text-content {
  margin-top: $margin-l;
  margin-bottom: $margin-l;

  &--association {
    margin: 0;
  }

  &__title {
    @extend %text-styles;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: $margin-m;
    border-bottom: $dotted;
    padding-bottom: $padding-s;
    @include screen(tab-port) {
      font-size: 4rem;
    }
  }

  &__header {
    @extend %text-styles;
    font-size: 4rem;
    margin-bottom: $margin-m;
  }

  &__subheader {
    @extend %text-styles;
    font-size: 2.4rem;
    color: $col-black;
  }

  &__intro {
    color: $col-secondary;
  }

  &__body {
    margin: $margin-s 0 0 0;
    font-size: 1.7rem;
    line-height: 1.8;
  }

  &__footnote {
    font-size: 1.3rem;
    margin-top: $margin-xl;
    padding-left: 1rem;

    &:before {
      content: "*";
      position: absolute;
      left: 0;
    }
  }
}
