.twitter-feed {
  width: 100%;
  background-color: $col-med-grey;
  padding: $padding-m;
  @include screen(tab-port) {
    border-radius: $padding-m;
    width: 35rem;
  }

  .candidate-body__propositions > & {
    @include screen(tab-port) {
      width: 100%;
    }
  }

  &__logo {
    height: 5rem;
    width: 5rem;
  }

  &__wrapper {
    background-color: $col-white;
    box-shadow: $shadow-regular;
    width: 100%;
    height: 20rem;
    margin-top: $margin-m;
    overflow: auto;
    padding: $padding-m;
    @include screen(tab-port) {
      height: 40rem;
    }
  }
}
