.u-anti-skew {
  transform: skewX($anti-skew);
}

.u-wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include screen(tab-port) {
    padding: 0 10rem;
    max-width: 120rem;
  }

  &--followed-by-quote {
    @include screen(tab-port) {
      margin-right: 0;
      max-width: 40rem;
      padding: 0 5rem 0 0;
    }
  }
}

.u-section-split {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  flex-direction: column;
  @include screen(tab-port) {
    min-height: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--align-top {
    align-items: flex-start;
  }

  &--no-bottom-margin {
    margin-bottom: 0;
  }

  &--even-margin {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &--align-left {
    justify-content: flex-start;
  }

  &--contains-quote {
    padding-bottom: 1rem;
  }
}

.u-align-right {
  text-align: center !important;
  @include screen(tab-port) {
    text-align: right !important;
  }
}

.u-table-wrapper {
  margin-top: $margin-m;
  margin-bottom: $margin-l;
}

.u-light {
  font-weight: 100;
}

.u-hidden {
  display: none;
}

.u-strong {
  font-weight: 600;
  color: $col-secondary;
}

.u-orange {
  color: $col-secondary;
}

.u-50 {
  width: 100%;
  @include screen(tab-port) {
    width: calc(50% - 2.5rem) !important;
  }
}
