.u-anti-skew {
  transform: skewX($anti-skew);
}

.u-wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include screen(tab-port) {
    padding: 0 10rem;
    max-width: 120rem;
  }

  &--wide {
    max-width: none;
  }
}

.u-section-split {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin-l;
  flex-direction: column;
  @include screen(tab-port) {
    min-height: 1rem;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &--align-top {
    align-items: flex-start;
  }

  &--centered {
    align-items: center;
    @include screen(tab-port) {
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.u-align-center {
  text-align: center !important;
}

.u-strong {
  font-weight: 600;
  color: $col-secondary;

  &--black {
    font-weight: 600;
    color: $col-black;
  }
}

.u-orange {
  color: $col-secondary !important;
}

.u-allcaps {
  display: block;
  font-size: 200%;
  text-transform: uppercase;
}

.u-dotted {
  border-top: $dotted;
  padding-top: $padding-m;
  margin-bottom: $margin-m;
}
